<div class="row">
    <div class="col-md-3">
        <img class="img-thumbnail" ng-src="{{createCtrl.contact.gender ? (CONSTANTS.IMG_URL + '/contact-' + ((createCtrl.contact.gender == 'M') ? 'male' : 'female') + '.jpg') : ''}}" style="width:254px; height:254px">
    </div>
    <div class="col-md-9">
        <form name="contactDetailsForm" class="form-horizontal" ng-submit="!contactDetailsForm.$pending && createCtrl.submitForm(contactDetailsForm)" novalidate>
            <!-- Company Name -->
            <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.companyName.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.companyName.$dirty || contactDetailsForm.companyName.$touched)}">
                <div class="row">
                    <div class="col-md-2">
                        <label for="companyName" class="control-label pull-right">Company Name</label>
                    </div>
                    <div class="col-md-5">
                        <input id="companyName" name="companyName" type="text" class="form-control" ng-disabled="createCtrl.isSaving"
                            ng-minlength="3"
                            ng-maxlength="30"
                            ng-model="createCtrl.contact.companyName"
                            required>
                    </div>
                    <div class="col-md-5">
                        <div ng-messages="contactDetailsForm.companyName.$error" ng-if="contactDetailsForm.companyName.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.companyName.$dirty || contactDetailsForm.companyName.$touched)" style="margin-top:6px">
                            <span ng-message="required" class="label label-danger" style="font-size:90%">Company name is required</span>
                            <span ng-message="minlength" class="label label-danger" style="font-size:90%">Company name is too short</span>
                            <span ng-message="maxlength" class="label label-danger" style="font-size:90%">Company name is too long</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- First Name -->
            <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.firstName.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.firstName.$dirty || contactDetailsForm.firstName.$touched)}">
                <div class="row">
                    <div class="col-md-2">
                        <label for="firstName" class="control-label pull-right">First Name</label>
                    </div>
                    <div class="col-md-5">
                        <input id="firstName" name="firstName" type="text" class="form-control" ng-disabled="createCtrl.isSaving"
                            ng-minlength="3"
                            ng-maxlength="30"
                            ng-model="createCtrl.contact.firstName"
                            required>
                    </div>
                    <div class="col-md-5">
                        <div ng-messages="contactDetailsForm.firstName.$error" ng-if="contactDetailsForm.firstName.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.firstName.$dirty || contactDetailsForm.firstName.$touched)" style="margin-top:6px">
                            <span ng-message="required" class="label label-danger" style="font-size:90%">First Name is required</span>
                            <span ng-message="minlength" class="label label-danger" style="font-size:90%">First Name is too short</span>
                            <span ng-message="maxlength" class="label label-danger" style="font-size:90%">First Name is too long</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Last Name -->
            <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.lastName.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.lastName.$dirty || contactDetailsForm.lastName.$touched)}">
                <div class="row">
                    <div class="col-md-2">
                        <label for="lastName" class="control-label pull-right">Last Name</label>
                    </div>
                    <div class="col-md-5">
                        <input id="lastName" name="lastName" type="text" class="form-control" ng-disabled="createCtrl.isSaving"
                            ng-minlength="3"
                            ng-maxlength="30"
                            ng-model="createCtrl.contact.lastName"
                            required>
                    </div>
                    <div class="col-md-5">
                        <div ng-messages="contactDetailsForm.lastName.$error" ng-if="contactDetailsForm.lastName.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.lastName.$dirty || contactDetailsForm.lastName.$touched)" style="margin-top:6px">
                            <span ng-message="required" class="label label-danger" style="font-size:90%">Last Name is required</span>
                            <span ng-message="minlength" class="label label-danger" style="font-size:90%">Last Name is too short</span>
                            <span ng-message="maxlength" class="label label-danger" style="font-size:90%">Last Name is too long</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Suffix -->
            <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.suffix.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.suffix.$dirty || contactDetailsForm.suffix.$touched)}">
                <div class="row">
                    <div class="col-md-2">
                        <label for="suffix" class="control-label pull-right">Suffix</label>
                    </div>
                    <div class="col-md-5">
                        <input id="suffix" name="suffix" type="text" class="form-control" ng-disabled="createCtrl.isSaving"
                               ng-minlength="2"
                               ng-maxlength="5"
                               ng-model="createCtrl.contact.suffix">
                    </div>
                    <div class="col-md-5">
                        <div ng-messages="contactDetailsForm.suffix.$error" ng-if="contactDetailsForm.suffix.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.suffix.$dirty || contactDetailsForm.suffix.$touched)" style="margin-top:6px">
                            <span ng-message="minlength" class="label label-danger" style="font-size:90%">Suffix is too short</span>
                            <span ng-message="maxlength" class="label label-danger" style="font-size:90%">Suffix is too long</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- User ID -->
            <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.userId.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.userId.$dirty || contactDetailsForm.userId.$touched)}">
                <div class="row">
                    <div class="col-md-2">
                        <label for="userId" class="control-label pull-right">User ID</label>
                    </div>
                    <div class="col-md-5">
                        <input id="userId" name="userId" type="text" class="form-control" ng-disabled="createCtrl.isSaving"
                            ng-model="createCtrl.contact.userId"
                            user-id-validator
                            user-id-validator-curr-contact-id="{{createCtrl.contact.id}}"
                            ng-model-options="{debounce: {default: 500}}">
                    </div>
                    <div class="col-md-5">
                        <div style="margin-top:6px" ng-show="contactDetailsForm.userId.$pending">Validating...</div>
                        <div ng-messages="contactDetailsForm.userId.$error" ng-if="contactDetailsForm.userId.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.userId.$dirty || contactDetailsForm.userId.$touched)" style="margin-top:6px">
                            <span ng-message="required" class="label label-danger" style="font-size:90%">User ID is required</span>
                            <span ng-message="minlength" class="label label-danger" style="font-size:90%">User ID is too short</span>
                            <span ng-message="maxlength" class="label label-danger" style="font-size:90%">User ID is too long</span>
                            <span ng-message="1001" class="label label-danger" style="font-size:90%">User ID cannot be empty</span>
                            <span ng-message="1002" class="label label-danger" style="font-size:90%">User ID must be greater than 3 characters</span>
                            <span ng-message="1003" class="label label-danger" style="font-size:90%">User ID cannot be greater than 20 characters</span>
                            <span ng-message="userId" class="label label-danger" style="font-size:90%">User ID already exists</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Gender -->
            <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.gender.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.gender.$dirty || contactDetailsForm.gender.$touched)}">
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="control-label pull-right">Gender</label>
                    </div>
                    <div class="col-md-5" style="margin-bottom:7px">
                        <label class="radio-inline">
                            <input name="gender" type="radio" value="M" ng-model="createCtrl.contact.gender" ng-disabled="createCtrl.isSaving" required> Male
                        </label>
                        <label class="radio-inline">
                            <input name="gender" type="radio" value="F" ng-model="createCtrl.contact.gender" ng-disabled="createCtrl.isSaving" required> Female
                        </label>
                    </div>
                    <div class="col-md-5">
                        <div ng-messages="contactDetailsForm.gender.$error" ng-if="contactDetailsForm.gender.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.gender.$dirty || contactDetailsForm.gender.$touched)" style="margin-top:6px">
                            <span ng-message="required" class="label label-danger" style="font-size:90%">Gender is required</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Email -->
            <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.email.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.email.$dirty || contactDetailsForm.email.$touched)}">
                <div class="row">
                    <div class="col-md-2">
                        <label for="email" class="control-label pull-right">Email</label>
                    </div>
                    <div class="col-md-5">
                        <input id="email" name="email" type="email" class="form-control" ng-disabled="createCtrl.isSaving"
                            ng-minlength="3"
                            ng-maxlength="30"
                            ng-model="createCtrl.contact.email"
                            required>
                    </div>
                    <div class="col-md-5">
                        <div ng-messages="contactDetailsForm.email.$error" ng-if="contactDetailsForm.email.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.email.$dirty || contactDetailsForm.email.$touched)" style="margin-top:6px">
                            <span ng-message="required" class="label label-danger" style="font-size:90%">Email is required</span>
                            <span ng-message="minlength" class="label label-danger" style="font-size:90%">Email is too short</span>
                            <span ng-message="maxlength" class="label label-danger" style="font-size:90%">Email ID is too long</span>
                            <span ng-message="email" class="label label-danger" style="font-size:90%">Email is not valid</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Phone -->
            <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.phone.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.phone.$dirty || contactDetailsForm.phone.$touched)}">
                <div class="row">
                    <div class="col-md-2">
                        <label for="phone" class="control-label pull-right">Phone</label>
                    </div>
                    <div class="col-md-5">
                        <input id="phone" name="phone" type="text" class="form-control" ng-disabled="createCtrl.isSaving"
                            ng-maxlength="30"
                            ng-model="createCtrl.contact.phone"
                            ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"
                            phone-number-validator
                            required>
                    </div>
                    <div class="col-md-5">
                        <div ng-messages="contactDetailsForm.phone.$error" ng-if="contactDetailsForm.phone.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.phone.$dirty || contactDetailsForm.phone.$touched)" style="margin-top:6px">
                            <span ng-message="required" class="label label-danger" style="font-size:90%">Phone is required</span>
                            <span ng-message="maxlength" class="label label-danger" style="font-size:90%">Phone is too long</span>
                            <span ng-message="phoneNumber" class="label label-danger" style="font-size:90%">No letters or special characters allowed except for parentheses, periods, or dashes</span>
                            <span ng-message="pattern" class="label label-danger" style="font-size:90%">Format is (NNN) NNN-NNNN or NNN-NNN-NNNN or NNN.NNN.NNNN</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Action buttons -->
            <div class="form-group" style="margin-top:30px">
                <div class="row">
                    <div class="col-md-7 text-center">
                        <!-- The ng-submit will be called when this button is clicked -->
                        <button type="submit" class="btn btn-primary" ng-disabled="contactDetailsForm.$pending || createCtrl.isSaving">
                            {{createCtrl.isSaving ? "Saving" : "Create"}}
                            <i class="fa fa-spinner fa-pulse" ng-show="createCtrl.isSaving"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        
<!--         <div> -->
<!--             <br> -->
<!--             <pre>{{contactDetailsForm | json}}</pre> -->
<!--         </div> -->
    </div>
</div>
