<div class="row">
    <div ng-if="detailsCtrl.showSpinner">
        <div class="col-md-12">
            <span style="margin-left:15px">Loading... <i class="fa fa-spinner fa-pulse fa-lg"></i></span>
        </div>
    </div>
    
    <div ng-if="!detailsCtrl.showSpinner">
        <div class="col-md-3">
            <img class="img-thumbnail" ng-src="{{detailsCtrl.contact.gender ? (CONSTANTS.IMG_URL + '/contact-' + ((detailsCtrl.contact.gender == 'M') ? 'male' : 'female') + '.jpg') : ''}}" title="Photo for {{detailsCtrl.contact.firstName}} {{detailsCtrl.contact.lastName}}"
                style="width:254px; height:254px">
        </div>
        <div class="col-md-9">
            <!-- 
            $valid: the control is valid
            $invalid: the control is invalid
            $pristine: the control hasn't been interacted with yet
            $dirty: the control has been interacted with
            $touched: the control has been blurred
            $untouched: the control hasn't been blurred
            $pending: any $asyncValidators are unfulfilled
            $error: Is an object hash, containing references to all invalid controls or forms, where: 
                keys are validation tokens (error names)
                values are arrays of controls or forms that are invalid with given error.
            -->
            <form name="contactDetailsForm" class="form-horizontal" ng-submit="!contactDetailsForm.$pending && detailsCtrl.submitForm(contactDetailsForm)" novalidate>
                <!-- contactDetailsForm.$submitted - is needed in the case that there is an empty value and the user clicks submit -->
                <!-- contactDetailsForm.companyName.$dirty - is needed because we want the form field to start validating immediately as the user is typing -->
                <!-- contactDetailsForm.companyName.$touched - is needed so that the form field will validate when blurred -->
                <!-- Company Name -->
                <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.companyName.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.companyName.$dirty || contactDetailsForm.companyName.$touched)}">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="companyName" class="control-label pull-right">Company Name</label>
                        </div>
                        <div ng-if="detailsCtrl.isViewMode">
                            <div class="col-md-10">
                                <p class="form-control-static" style="padding-left:13px">{{detailsCtrl.contact.companyName}}</p>
                            </div>
                        </div>
                        <div ng-if="detailsCtrl.isEditMode">
                            <div class="col-md-5">
                                <input id="companyName" name="companyName" type="text" class="form-control" ng-disabled="detailsCtrl.isSaving"
                                    ng-minlength="3"
                                    ng-maxlength="30"
                                    ng-model="detailsCtrl.contact.companyName"
                                    required>
                            </div>
                            <div class="col-md-5">
                                <div ng-messages="contactDetailsForm.companyName.$error" ng-if="contactDetailsForm.companyName.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.companyName.$dirty || contactDetailsForm.companyName.$touched)" style="margin-top:6px">
                                    <span ng-message="required" class="label label-danger" style="font-size:90%">Company name is required</span>
                                    <span ng-message="minlength" class="label label-danger" style="font-size:90%">Company name is too short</span>
                                    <span ng-message="maxlength" class="label label-danger" style="font-size:90%">Company name is too long</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- First Name -->
                <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.firstName.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.firstName.$dirty || contactDetailsForm.firstName.$touched)}">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="firstName" class="control-label pull-right">First Name</label>
                        </div>
                        <div ng-if="detailsCtrl.isViewMode">
                            <div class="col-md-10">
                                <p class="form-control-static" style="padding-left:13px">{{detailsCtrl.contact.firstName}}</p>
                            </div>
                        </div>
                        <div ng-if="detailsCtrl.isEditMode">
                            <div class="col-md-5">
                                <input id="firstName" name="firstName" type="text" class="form-control" ng-disabled="detailsCtrl.isSaving"
                                    ng-minlength="3"
                                    ng-maxlength="30"
                                    ng-model="detailsCtrl.contact.firstName"
                                    required>
                            </div>
                            <div class="col-md-5">
                                <div ng-messages="contactDetailsForm.firstName.$error" ng-if="contactDetailsForm.firstName.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.firstName.$dirty || contactDetailsForm.firstName.$touched)" style="margin-top:6px">
                                    <span ng-message="required" class="label label-danger" style="font-size:90%">First Name is required</span>
                                    <span ng-message="minlength" class="label label-danger" style="font-size:90%">First Name is too short</span>
                                    <span ng-message="maxlength" class="label label-danger" style="font-size:90%">First Name is too long</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Last Name -->
                <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.lastName.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.lastName.$dirty || contactDetailsForm.lastName.$touched)}">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="lastName" class="control-label pull-right">Last Name</label>
                        </div>
                        <div ng-if="detailsCtrl.isViewMode">
                            <div class="col-md-10">
                                <p class="form-control-static" style="padding-left:13px">{{detailsCtrl.contact.lastName}}</p>
                            </div>
                        </div>
                        <div ng-if="detailsCtrl.isEditMode">
                            <div class="col-md-5">
                                <input id="lastName" name="lastName" type="text" class="form-control" ng-disabled="detailsCtrl.isSaving"
                                    ng-minlength="3"
                                    ng-maxlength="30"
                                    ng-model="detailsCtrl.contact.lastName"
                                    required>
                            </div>
                            <div class="col-md-5">
                                <div ng-messages="contactDetailsForm.lastName.$error" ng-if="contactDetailsForm.lastName.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.lastName.$dirty || contactDetailsForm.lastName.$touched)" style="margin-top:6px">
                                    <span ng-message="required" class="label label-danger" style="font-size:90%">Last Name is required</span>
                                    <span ng-message="minlength" class="label label-danger" style="font-size:90%">Last Name is too short</span>
                                    <span ng-message="maxlength" class="label label-danger" style="font-size:90%">Last Name is too long</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Suffix -->
                <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.suffix.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.suffix.$dirty || contactDetailsForm.suffix.$touched)}">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="suffix" class="control-label pull-right">Suffix</label>
                        </div>
                        <div ng-if="detailsCtrl.isViewMode">
                            <div class="col-md-10">
                                <p class="form-control-static" style="padding-left:13px">{{detailsCtrl.contact.suffix}}</p>
                            </div>
                        </div>
                        <div ng-if="detailsCtrl.isEditMode">
                            <div class="col-md-5">
                                <input id="suffix" name="suffix" type="text" class="form-control" ng-disabled="detailsCtrl.isSaving"
                                       ng-minlength="2"
                                       ng-maxlength="5"
                                       ng-model="detailsCtrl.contact.suffix">
                            </div>
                            <div class="col-md-5">
                                <div ng-messages="contactDetailsForm.suffix.$error" ng-if="contactDetailsForm.suffix.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.suffix.$dirty || contactDetailsForm.suffix.$touched)" style="margin-top:6px">
                                    <span ng-message="minlength" class="label label-danger" style="font-size:90%">Suffix is too short</span>
                                    <span ng-message="maxlength" class="label label-danger" style="font-size:90%">Suffix is too long</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- User ID -->
                <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.userId.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.userId.$dirty || contactDetailsForm.userId.$touched)}">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="userId" class="control-label pull-right">User ID</label>
                        </div>
                        <div ng-if="detailsCtrl.isViewMode">
                            <div class="col-md-10">
                                <p class="form-control-static" style="padding-left:13px">{{detailsCtrl.contact.userId}}</p>
                            </div>
                        </div>
                        <div ng-if="detailsCtrl.isEditMode">
                            <div class="col-md-5">
                                <input id="userId" name="userId" type="text" class="form-control" ng-disabled="detailsCtrl.isSaving"
                                    ng-model="detailsCtrl.contact.userId"
                                    user-id-validator
                                    user-id-validator-curr-contact-id="{{detailsCtrl.contact.id}}"
                                    ng-model-options="{debounce: {default: 500}}">
                            </div>
                            <div class="col-md-5">
                                <div style="margin-top:6px" ng-show="contactDetailsForm.userId.$pending">Validating...</div>
                                <div ng-messages="contactDetailsForm.userId.$error" ng-if="contactDetailsForm.userId.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.userId.$dirty || contactDetailsForm.userId.$touched)" style="margin-top:6px">
                                    <span ng-message="required" class="label label-danger" style="font-size:90%">User ID is required</span>
                                    <span ng-message="minlength" class="label label-danger" style="font-size:90%">User ID is too short</span>
                                    <span ng-message="maxlength" class="label label-danger" style="font-size:90%">User ID is too long</span>
                                    <span ng-message="1001" class="label label-danger" style="font-size:90%">User ID cannot be empty</span>
                                    <span ng-message="1002" class="label label-danger" style="font-size:90%">User ID must be greater than 3 characters</span>
                                    <span ng-message="1003" class="label label-danger" style="font-size:90%">User ID cannot be greater than 20 characters</span>
                                    <span ng-message="userId" class="label label-danger" style="font-size:90%">User ID already exists</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Gender -->
                <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.gender.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.gender.$dirty || contactDetailsForm.gender.$touched)}">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="" class="control-label pull-right">Gender</label>
                        </div>
                        <div ng-if="detailsCtrl.isViewMode">
                            <div class="col-md-10">
                                <p class="form-control-static" ng-if="detailsCtrl.contact.gender == 'M'" style="padding-left:13px">Male</p>
                                <p class="form-control-static" ng-if="detailsCtrl.contact.gender == 'F'" style="padding-left:13px">Female</p>
                            </div>
                        </div>
                        <div ng-if="detailsCtrl.isEditMode">
                            <div class="col-md-5" style="margin-bottom:7px">
                                <label class="radio-inline">
                                    <input name="gender" type="radio" value="M" ng-model="detailsCtrl.contact.gender" ng-disabled="detailsCtrl.isSaving" required> Male
                                </label>
                                <label class="radio-inline">
                                    <input name="gender" type="radio" value="F" ng-model="detailsCtrl.contact.gender" ng-disabled="detailsCtrl.isSaving" required> Female
                                </label>
                            </div>
                            <div class="col-md-5">
                                <div ng-messages="contactDetailsForm.gender.$error" ng-if="contactDetailsForm.gender.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.gender.$dirty || contactDetailsForm.gender.$touched)" style="margin-top:6px">
                                    <span ng-message="required" class="label label-danger" style="font-size:90%">Gender is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Email -->
                <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.email.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.email.$dirty || contactDetailsForm.email.$touched)}">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="email" class="control-label pull-right">Email</label>
                        </div>
                        <div ng-if="detailsCtrl.isViewMode">
                            <div class="col-md-10">
                                <p class="form-control-static" style="padding-left:13px">{{detailsCtrl.contact.email}}</p>
                            </div>
                        </div>
                        <div ng-if="detailsCtrl.isEditMode">
                            <div class="col-md-5">
                                <input id="email" name="email" type="email" class="form-control" ng-disabled="detailsCtrl.isSaving"
                                    ng-minlength="3"
                                    ng-maxlength="30"
                                    ng-model="detailsCtrl.contact.email"
                                    required>
                            </div>
                            <div class="col-md-5">
                                <div ng-messages="contactDetailsForm.email.$error" ng-if="contactDetailsForm.email.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.email.$dirty || contactDetailsForm.email.$touched)" style="margin-top:6px">
                                    <span ng-message="required" class="label label-danger" style="font-size:90%">Email is required</span>
                                    <span ng-message="minlength" class="label label-danger" style="font-size:90%">Email is too short</span>
                                    <span ng-message="maxlength" class="label label-danger" style="font-size:90%">Email ID is too long</span>
                                    <span ng-message="email" class="label label-danger" style="font-size:90%">Email is not valid</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Phone -->
                <div class="form-group" style="margin-bottom:3px" ng-class="{'has-error': contactDetailsForm.phone.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.phone.$dirty || contactDetailsForm.phone.$touched)}">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="phone" class="control-label pull-right">Phone</label>
                        </div>
                        <div ng-if="detailsCtrl.isViewMode">
                            <div class="col-md-10">
                                <p class="form-control-static" style="padding-left:13px">{{detailsCtrl.contact.phone}}</p>
                            </div>
                        </div>
                        <div ng-if="detailsCtrl.isEditMode">
                            <div class="col-md-5">
                                <input id="phone" name="phone" type="text" class="form-control" ng-disabled="detailsCtrl.isSaving"
                                    ng-maxlength="30"
                                    ng-model="detailsCtrl.contact.phone"
                                    ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"
                                    phone-number-validator
                                    required>
                            </div>
                            <div class="col-md-5">
                                <div ng-messages="contactDetailsForm.phone.$error" ng-if="contactDetailsForm.phone.$invalid && (contactDetailsForm.$submitted || contactDetailsForm.phone.$dirty || contactDetailsForm.phone.$touched)" style="margin-top:6px">
                                    <span ng-message="required" class="label label-danger" style="font-size:90%">Phone is required</span>
                                    <span ng-message="maxlength" class="label label-danger" style="font-size:90%">Phone is too long</span>
                                    <span ng-message="phoneNumber" class="label label-danger" style="font-size:90%">No letters or special characters allowed except for parentheses, periods, or dashes</span>
                                    <span ng-message="pattern" class="label label-danger" style="font-size:90%">Format is (NNN) NNN-NNNN or NNN-NNN-NNNN or NNN.NNN.NNNN</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Action buttons -->
                <div class="form-group" style="margin-top:30px">
                    <div class="row">
                        <div class="col-md-7 text-center">
                            <!-- The ng-submit will be called when this button is clicked -->
                            <button type="submit" class="btn btn-primary" ng-if="detailsCtrl.isEditMode" ng-disabled="contactDetailsForm.$pending || detailsCtrl.isSaving" style="margin-right:5px">
                                {{detailsCtrl.isSaving ? "Updating" : "Update"}}
                                <i class="fa fa-spinner fa-pulse" ng-show="detailsCtrl.isSaving"></i>
                            </button>
                            <button type="button" class="btn btn-primary" ng-if="detailsCtrl.isEditMode" ng-disabled="contactDetailsForm.$pending || detailsCtrl.isSaving" ng-click="detailsCtrl.setViewMode(contactDetailsForm)" style="margin-right:5px">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-if="detailsCtrl.isViewMode" ng-click="detailsCtrl.setEditMode(contactDetailsForm)">Edit Contact</button>
                        </div>
                    </div>
                </div>
            </form>
            
<!--             <div ng-if="detailsCtrl.isEditMode"> -->
<!--                 <br> -->
<!--                 <pre>{{contactDetailsForm | json}}</pre> -->
<!--             </div> -->
        </div>
    </div>
</div>
